@{
    ViewData["Title"] = "GameAnalysis";
}

<h1>Analysing finished</h1>
<hr />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Result"]</h3>

<h2>Hometeam</h2>
<h3>
    <table>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
            <td>Value 5</td>
        </tr>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
            <td>Value 5</td>
        </tr>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
            <td>Value 5</td>
        </tr>
    </table>
</h3>
    <hr />

    <h2>Awayteam</h2>
<h3>
    <table>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
            <td>Value 5</td>
        </tr>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
            <td>Value 5</td>
        </tr>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
            <td>Value 5</td>
        </tr>
    </table>
</h3>
